<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>POS Dash | Responsive Bootstrap 4 Admin Dashboard Template</title>

<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico" />
<link rel="stylesheet" href="/stylesheets/backend-plugin.min.css">
<link rel="stylesheet" href="/stylesheets/backend.css?v=1.0.0">
<link rel="stylesheet" href="/vendor/@fortawesome/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">
<link rel="stylesheet" href="/vendor/remixicon/fonts/remixicon.css">
<link rel="stylesheet" href="/stylesheets/style.css">
