<!-- JQUERY-->
 <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Backend Bundle JavaScript -->
 <script src="/javascripts/backend-bundle.min.js"></script>

 <!-- Table Treeview JavaScript -->
 <script src="/javascripts/table-treeview.js"></script>

 <!-- Chart Custom JavaScript -->
 <script src="/javascripts/customizer.js"></script>

 <!-- Chart Custom JavaScript -->
 <script async src="/javascripts/chart-custom.js"></script>

 <!-- app JavaScript -->
 <script src="/javascripts/app.js"></script>