<!doctype html>
<html lang="en">

<head>
  <%- include('./elements/header.ejs') %>
</head>

<body class="">
  <!-- loader Start -->
  <div id="loading">
    <div id="loading-center">
    </div>
  </div>
  <!-- loader END -->
  <!-- Wrapper Start -->
  <div class="wrapper">
    <%- include('./elements/nav-sidebar.ejs') %>
    <%- include('./elements/nav-topbar.ejs') %>
    <%- include('./elements/topbar-order.ejs') %>
    <div class="content-page">
      <%-body %>
    </div>
  </div>
  <!-- Wrapper End-->
  <footer class="iq-footer">
    <%- include('./elements/footer.ejs') %>
  </footer>
    <%- include('./elements/scripts.ejs') %>
</body>

</html>