<% arraySelectStatusBox = [
    {
        name: "Select Status",
        value: ""
    },
    {
        name: "Active",
        value: "active"
    },
    {
        name: "Inactive",
        value: "inactive"
    }
] %>
<% if(Object.keys(message).length > 0 )  {%>
    <h4 class="mb-3 d-block bg-gradient-green pt-2 pb-2 pr-2 "><%= message %></h4>
<%}%>
<div class="container-fluid add-form-list">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title"><%= title %> Product</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form action="<%= link%>" method="post" >
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Name *</label>
                                    <input name="name" type="text" class="form-control" placeholder="Enter Name"  required value="<%= item.name%>">
                                    <div class="help-block with-errors text-red m-2">
                                        <%= (typeof errorArr !== "undefined")?errorArr.name:"" %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Status</label>
                                    <% include ./../../helpers/statusBox.ejs %>
                                    <% selectBox("status",arraySelectStatusBox,"selectpicker form-control",item.status) %>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Ordering</label>
                                    <input value="<%= item.ordering%>" type="text" class="form-control" placeholder="Enter Ordering"
                                        name="ordering"  required>
                                    <div class="help-block with-errors text-red m-2">
                                        <%= (typeof errorArr !== "undefined")?errorArr.ordering:"" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2"><%= title%> Product</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>